:root {
  --light-gray: #EFEFEF;
  --aside-and-megasena-green: #6BEFA3;
  --quina-purple: #8666EF;
  --lotofacil-pink: #DD7AC6;
  --lotomania-orange: #FFAB64;
  --timemania-green: #5AAD7D;
  --dia-de-sorte-brownish-green: #BFAF83;

  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.debug {
  border: 2px dotted red;
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}
